body {
  background: url(https://media.istockphoto.com/id/1283615709/photo/old-brown-paper-parchment-background-design-with-distressed-vintage-stains-and-ink-spatter.jpg?b=1&s=612x612&w=0&k=20&c=dF3PPajNXtXXzoU4Qghwt9Yazu1KFNHuzmPWJ75eGCs=);
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  border: 2px dotted black;
  padding: 70px;
  background-clip: border-box;  
}

 .info {
    margin-top: -20px;
  } 

img {
  width: 100%;
}

.rep-ed {
 text-transform: uppercase; 
 border: 1px solid;
 text-align: center;
 background-color: rgba(201, 76, 76, 0.3);
}

.job {
  border-bottom: 1px solid;
  margin-top: -5px;
}
