body {
    background: url(https://images.unsplash.com/photo-1615800098799-0ccb261b1f92?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1310&q=80;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px dotted black;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
    background-clip: border-box; 
    ; 
  }
  
   .info {
     margin-top: -20px;
    } 
  
  #leilaSadr {
   display: grid;
   border: 3px solid;
   max-width: 20%;
   margin-top: 5px;
   margin-bottom: -20px;
  }
  
  .rep-ed {
   text-transform: uppercase; 
   border: 3px solid;
   text-align: center;
   background-color: rgba(201, 76, 76, 0.3);
  }
  
  .job {
    border-bottom: 1px solid;
    margin-top: -5px;
    
  }
