body {
  background-color: teal;
  color: pink;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 40%;
  margin-left: 5%;
}

.rep-ed {
 text-transform: uppercase; 
 border: 1px solid;
 text-align: center;
 background-color: rgba(0,0,0, 0.3)
}

.job {
  border-bottom: 1px solid;
  margin-top: -5px;
}
